# Firebase & API Keys
android/app/google-services.json
firebaseConfig.js
AuthContext.js
.env

# React Native build folders
node_modules/
android/.gradle/
android/app/build/
ios/Pods/
ios/build/
